@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body {
  background-color: #f4f2ee;
}
.mainContainer {
  margin-top: 90px;
}
.miniPic {
  width: 30px;
}

i {
  font-size: 20px;
}

#dropdown-basic {
  background-color: transparent;
  color: black;
  border: none;
}

.premium {
  text-decoration: underline;
  color: #d59236;
}

.dropPic {
  width: 48px;
}
h6 {
  padding-inline: 16px;
}
.cardheader {
  background-color: transparent;
  border-bottom: none;
}

.analisi,
.risorse,
.profile,
.post {
  margin-bottom: 10px;
}

.cardfooter {
  background-color: transparent;
}

.cardfooter:hover {
  background-color: #f3f3f3;
}
.bi-person-plus {
  margin-right: 5px;
  font-size: 15px;
}
.buttonColleg {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  color: black;
  border-color: black;
}

.main-buttons {
  border: none;
  background-color: transparent;
  color: black;
}
.main-buttons:hover {
  border-radius: 40px;
  background-color: #f4f2ee;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-between;
  scale: 0.8;
}

.drop {
  background-color: #f3f3f3;
  border: 1px solid black;
}

.drop:hover {
  background-color: #d6d6d6;
}

.footer-list {
  list-style-type: none;
}

.item {
  border: none;
}

.infoIcon {
  font-size: smaller;
}

.item:hover {
  background-color: #f4f2ee;
}

.item a {
  text-decoration: none;
}

.info {
  font-size: smaller;
}

.headerBar {
  font-size: smaller;
}

.infoAd {
  font-size: 0.7rem;
}

.trial {
  border-radius: 20px;
}

.footer {
  font-size: smaller;
  line-height: 0.7rem;
}

.copyright {
  font-size: smaller;
}
/*FormPost */

.postProfileBtn {
  background-color: transparent;
  color: black;
  border: none;
}
.postProfileBtn:hover {
  background-color: ghostwhite;
  color: black;
  border: none;
}

.postBtn {
  background-color: transparent;
  color: black;
  border: none;
}
.postBtn:hover {
  background-color: ghostwhite;
  color: black;
  border: none;
}
.containerPostHome {
  border-radius: 10px;
}
.btnPostHome {
  background-color: white;
  color: #000000ad;
  border: none;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.btnPostHome:hover {
  background-color: rgb(241, 241, 241);
  color: black;
}
.btnLike {
  width: 15px;
  height: 15px;
}
.btnLikeIcon {
  font-size: 10px;
}
.textOtherPeeople {
  font-size: 0.7em;
}
.textOtherPeeople:hover {
  color: rgb(117, 117, 218);
  cursor: pointer;
  text-decoration: underline;
}
.text-postHomep {
  font-size: 0.7em;
}
.bi-globe-americas {
  font-size: 1.3em;
}
.name-HomePost {
  font-size: 1.2em;
}

.postHomeBtn {
  text-align: left;
  font-weight: bold;
  background-color: transparent;
  color: grey;
  border-color: grey;
}
.postHomeBtn:hover {
  text-align: left;
  font-weight: bold;
  background-color: ghostwhite;
  color: grey;
  border-color: grey;
}

.trash:hover {
  cursor: pointer;
}

.personMiniPic {
  position: relative;
  right: 15px;
}

.person2MiniPic {
  position: relative;
  right: 30px;
}
h5 {
  color: #317ecc;
  font-size: 1em;
}
.bi-x {
  font-weight: bold;
  font-size: 25px;
}
.bi-linkedin {
  color: #317ecc;
}
.logoLinkedinSearchWork {
  font-size: 15px;
}
.linkside {
  text-decoration: none;
}

.linkside:hover {
  background-color: #f4f2ee;
}
